body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#camp-top {
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

#campus-head {
  display:inline;
  margin-right: 40%;
  margin-left: 0;
  
}

#add-campus {
  display:inline;
  margin-left: auto;
  margin-right: 0;
  
}

.campus-box {
  margin: 10px;
  padding: 10px;
  width: 40%;
  display: inline-block;
}

.camp-tbl {
  border: solid black 1px;
  border-radius: 5px;
}

.camp-img{
  padding: 10px;
  max-width: 95%;
}

.camp-img-td{
  width: 65%
}

.camp-name {
  margin-bottom: 10px;

}  

.camp-ed {
  display: inline;
  margin-right: 15px;
  text-decoration: none;

}

.camp-del {
  /* display: inline;
  margin-left: 15px; */
  border: none;
  height: 35px;
  width: 100px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(231, 78, 129);
  color:white;
  font-size: 20px;
  border-radius: 5px;
  padding: auto;
  line-height: 10px;
}

#campus-page-info{
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 0;
}

.campus-page-img{
  max-width: 600px;
  margin: 30px
}

#nav-bar{
  margin-top: 0;
  background-color: gray;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
}

#students{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 40px;
  justify-content: space-between;
  padding-bottom: 40px;
}

.mini-student-card img{
  height:200px;
  margin: 30px;
  background-color: white;
}

.mini-student-card{
  border: solid black 1px;
  width: fit-content;
  background-color: lightgray;
  
}


#students-page a{
  background-color: turquoise;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

#students a {
  background-color: white;
  padding: 0px;
  border-radius: 0px;
}

#student-page{
 display: flex;
 width: 50%; 
 margin-left: auto;
 margin-right: auto;
 
}

#student-page-info{
  margin-left: 400px;
}

#student-page img{
  max-height: 500px;
}

input, label{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px;
}

#camp-stu-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 40px;
  gap: 40px;
  justify-content: center;
  padding-bottom: 40px;
}

.submit-btn{
  border: none;
  height: 40px;
  width: 150px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  background-color: turquoise;
  color:white;
  font-size: 20px;
  border-radius: 5px;
  padding: auto;
  line-height: 10px;
}

.dropdown{
  height:40px;
  width:200px;
  border-right: none;
  margin-right: 5px;
}

.campus-card-img{
  width:600px;
}

.show-student{
  margin-bottom: 50px;
}

